/* CSS reset */
*, *:before, *:after {
    margin:0;
    padding:0;
    font-family: Arial,sans-serif;
  }
   
  /* remove a linha dos links */
  a{
    text-decoration: none;
  }
   
  /* esconde as ancoras da tela */
  a.links{
    display: none;
  }
    content{
    width: 500px;
    min-height: 560px;    
    margin: 0px auto;
    position: relative;

    
    h1{
      font-size: 48px;
      color: #066a75;
      padding: 2px 0 10px 0;
      font-family: Arial,sans-serif;
      font-weight: bold;
      text-align: center;
      padding-bottom: 30px;
    }
    